@media screen and (max-width: 767px) {
    body {
        main {
            .divimage {
                display: flex;
                flex-direction: column;
                align-items: center;
                #introimage {
                    height: 50%;
                    width: 50%;
                    border-radius: 7%;
                }
            }
        }
        footer{
            .wpptext{
                @include footerintexto($tamanioTextoFooter, 50vw, - 1.35 * $espaciadoTextoFooter);
                left: 3.6*$tamanioTextoFooter;
                width: 50vw;
                font-weight: bold;
            }
            height: 3*$tamanioFooter;
            .wppimage{
                left: 2*$tamanioFooter;
                top: 20px;
            }
            .igimage{
                left: 0;
    /*Le doy el espacio de una imagen, mas el padding mas el espacio entre imagenes*/
                top: $tamanioFooter + 20px + 15px;
            }
            .igtext{
                width: 50vw;
                left: 0;
                top: $tamanioFooter + 20px + 25px;
            }
        }
        .socialMedia{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr, 1fr, repeat(5,2fr);
            grid-template-areas:
            "socialMedia"
            "form"
            "recommendedTopRight"
            "recommendedBottom1"
            "recommendedBottom2"
            "recommendedBottom3"
            "recommendedBottom4";
                .sectionForm{
                    margin-bottom: -50px;
                    form{
                        input{
                            padding-bottom: 0px;
                        }
                    }
                }
                .recommendedTopRight{
                    position: relative;
                    margin-top: 0px;
                    width: 100%;
                    p{
                        margin-top: -85px;
                        margin-bottom: 150px;
                    }
                    border-left: none;
                }
                .recommendedBottom1{
                    border-left: none;
                }
                .recommendedBottom2{
                    border-left: none;
                }
                .recommendedBottom3{
                    border-left: none;
                }
                .recommendedBottom4{
                    border-left: none;
                }
                .comentarios{
                    p{
                        display: none;
                    }
                }
            }
        #navbarBurger {
            .navDesktop {
                display: none;
            }
            position: sticky;
            top: 0px;
            label{
                width: 100vw;
                z-index: 999;
            }
        }
        .uploads {
            .iframeuploads {
                iframe {
                    width: 72vw;
                }
            }
        }
    }
    $espaciadoTextoFooter: 2;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .divimage {
        #introimage {
            height: 35%;
            width: 35%;
        }
    }
    .socialMedia{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, repeat(5,2fr);
    grid-template-areas:
    "socialMedia"
    "form"
    "recommendedTopRight"
    "recommendedBottom1"
    "recommendedBottom2"
    "recommendedBottom3"
    "recommendedBottom4";
        .sectionForm{
            margin-bottom: -50px;
            form{
                input{
                    padding-bottom: 0px;
                }
            }
        }
        .recommendedTopRight{
            margin-top: 0;
            p{
                margin-top: -250px;
                margin-bottom: 150px;
            }
            border-left: none;
        }
        .recommendedBottom1{
            border-left: none;
        }
        .recommendedBottom2{
            border-left: none;
        }
        .recommendedBottom3{
            border-left: none;
        }
        .recommendedBottom4{
            border-left: none;
        }
    }
    .navbar {
        position: sticky;
        top: 0px;
        .navDesktop {
            display: none;
        }
    }

    .show {
        position: sticky;
    }
}

@media screen and (min-width: 992px) {
    .divimage {
        #introimage {
            height: 369px;
            width: 333px;
        }
    }

    .collapse {
        display: none;
    }

    #navbar {
        display: none;
    }
}