/*footer*/

$tamanioFooter: 45px;
$paddingFooter: 20px;
$espaciadoTextoFooter: 1.7;
$colorTextoFooter: rgb(151, 79, 69);
$tamanioTextoFooter: 100px;
$colorFooter: rgb(71, 29, 29);

/*globales*/

$fondoPagina: linear-gradient(#b48a99, #5c4545e0);
$colorDentroDeCarta: white;

/*nav*/

$colorNav: #300c0c;
$colorTextoNav: white;
$colorBordeNav: black;
$colorActual: #5c3434;

/*Index*/

$colorCard: rgba(100, 20, 17, 0.555);
$altoCard: 150px;
$anchoCard: 300px;
$tamanioWelcome: 50px;
$tamanioToMy: 15px;
$tamanioAboutMe: 50px;
$tamanioAboutMeTexto: 20px;